
<div class="header">
	
	<h1>header</h1>

	<ul>
		<a href="home"><li>enlace</li></a>
		<a href=""><li>enlace</li></a>		
		<a routerLink="/home2"><li>Home2</li></a>
		<a routerLink="/home"><li>Home</li></a>		
	</ul>

</div>
