.header h1 {

  position: relative;
  display: block;
  float: left;
}


.header ul {

  position: relative;

  display: block;
  float: right;
  width: 1000px;
  height: 50px;
  top: 80px;
}


.header ul li{

	position: relative;
	display: block;
	float: right;
	width: 200px;
	font-size: 20px;
	height: 50px;
	border:2px solid black;
	padding: 10px  20px ;
	text-align: center;
	background: #fff;

}

.header{

	position: relative;
	background: #5353bf47;
	width: 100%;
	height: 200px;

}